@inherits LayoutComponentBase

<RadzenComponents />
<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body' 'rz-sidebar rz-footer' position: relative">
    <RadzenHeader>
        <RadzenRow>
            <RadzenColumn Size="5">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
                    <RadzenLabel Text="Giám Sát Lò Oven" />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                    <RadzenLabel>@GlobalVariable.UserName</RadzenLabel>
                        <RadzenProfileMenu>
                            <Template>
                                <RadzenIcon Icon="account_circle" />
                            </Template>
                            <ChildContent>
                                <RadzenProfileMenuItem Text="User info" Path="/DialogCardPadeUserInfo" Icon="account_circle" onclick=></RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Logout" Path="/login" Icon="line_weight"></RadzenProfileMenuItem>
                            </ChildContent>
                        </RadzenProfileMenu>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenHeader>
        <RadzenSidebar Responsive="false" @bind-Expanded="@_sidebarExpanded">
            <NavMenu/>
        </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
            <RadzenLabel>Phuc Thinh Automation Solution.</RadzenLabel>
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>
