USE [master]
GO
/****** Object:  Database [oven]    Script Date: 14/04/2026 2:03:10 CH ******/
CREATE DATABASE [oven]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oven', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS_V14\MSSQL\DATA\oven.mdf' , SIZE = 4202496KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oven_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS_V14\MSSQL\DATA\oven_log.ldf' , SIZE = 7872512KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oven].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oven]
GO
/****** Object:  User [dev1]    Script Date: 14/04/2026 2:03:10 CH ******/
CREATE USER [dev1] FOR LOGIN [dev1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dev]    Script Date: 14/04/2026 2:03:10 CH ******/
CREATE USER [dev] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dev1]
GO
ALTER ROLE [db_owner] ADD MEMBER [dev]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Revo_SecondsToHhMmSs]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_Revo_SecondsToHhMmSs] (@seconds INT)
RETURNS NVARCHAR(16)
AS
BEGIN
    IF @seconds IS NULL OR @seconds < 0 SET @seconds = 0;
    DECLARE @h INT = @seconds / 3600;
    DECLARE @m INT = (@seconds % 3600) / 60;
    DECLARE @s INT = @seconds % 60;
    RETURN CONCAT(
        RIGHT(CONCAT(N'0', @h), 2), N':',
        RIGHT(CONCAT(N'0', @m), 2), N':',
        RIGHT(CONCAT(N'0', @s), 2)
    );
END;
GO
/****** Object:  Table [dbo].[FT09]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT09](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedMachine] [nvarchar](max) NULL,
	[RevoId] [int] NULL,
	[RevoName] [nvarchar](max) NULL,
	[Work] [nvarchar](max) NULL,
	[Part] [nvarchar](max) NULL,
	[Rev] [nvarchar](max) NULL,
	[ColorCode] [nvarchar](max) NULL,
	[Mandrel] [nvarchar](max) NULL,
	[MandrelStart] [nvarchar](max) NULL,
	[StepId] [int] NULL,
	[StepName] [nvarchar](max) NULL,
	[StartedAt] [datetime2](7) NULL,
	[EndedAt] [datetime2](7) NULL,
	[ShaftNum] [uniqueidentifier] NULL,
	[TotalTime] [float] NULL,
 CONSTRAINT [PK_FT09] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RevoReport_Base]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RevoReport_Base]
AS
SELECT
    f.Id,
    f.CreatedAt,
    f.CreatedMachine,
    f.RevoId,
    f.RevoName,
    f.Work,
    f.Part,
    f.Rev,
    f.ColorCode,
    f.Mandrel,
    f.MandrelStart,
    f.StepId,
    f.StepName,
    f.StartedAt,
    f.EndedAt,
    f.ShaftNum,
    f.TotalTime,
    /* Normalized start — giống C# Started */
    [Started] = COALESCE(f.StartedAt, f.CreatedAt),
    /* Bucket giờ */
    [HourBucket] = DATEADD(HOUR, DATEDIFF(HOUR, 0, COALESCE(f.StartedAt, f.CreatedAt)), 0),
    /* Giống IsAutoRolling(FT09_RevoDatalog) trong RevoReport.razor.cs */
    [IsAutoRolling] = CASE
        WHEN CHARINDEX(N'auto rolling', LOWER(ISNULL(f.RevoName, N''))) > 0 THEN 1
        WHEN CHARINDEX(N'auto rolling', LOWER(ISNULL(f.Work, N''))) > 0 THEN 1
        WHEN CHARINDEX(N'autorolling', LOWER(REPLACE(ISNULL(f.RevoName, N''), N' ', N''))) > 0 THEN 1
        WHEN CHARINDEX(N'autorolling', LOWER(REPLACE(ISNULL(f.Work, N''), N' ', N''))) > 0 THEN 1
        ELSE 0
    END
FROM dbo.FT09 AS f
WHERE COALESCE(f.StartedAt, f.CreatedAt) IS NOT NULL;
GO
/****** Object:  View [dbo].[vw_RevoReport_Step]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RevoReport_Step]
AS
WITH shaft_first AS (
    SELECT b.ShaftNum, MIN(b.Started) AS MinStarted
    FROM dbo.vw_RevoReport_Base AS b
    WHERE b.ShaftNum IS NOT NULL
    GROUP BY b.ShaftNum
),
shaft_rank AS (
    SELECT
        ShaftNum,
        GlobalShaftNo = ROW_NUMBER() OVER (ORDER BY MinStarted)
    FROM shaft_first
)
SELECT
    b.Id,
    b.RevoId,
    b.RevoName,
    b.HourBucket AS [Hour],
    HourBucketDisplay = CONCAT(
        FORMAT(b.HourBucket, N'HH'), N':00-',
        FORMAT(DATEADD(HOUR, 1, b.HourBucket), N'HH'), N':00'
    ),
    ShaftNo = ISNULL(sr.GlobalShaftNo, 0),
    ShaftKey = CASE
        WHEN ISNULL(sr.GlobalShaftNo, 0) > 0 THEN CONCAT(N'Shaft ', sr.GlobalShaftNo)
        ELSE N'(Không xác định)'
    END,
    b.ShaftNum,
    b.Part,
    b.Work,
    b.Rev,
    b.Mandrel,
    StepDisplay = CONCAT(
        CASE WHEN NULLIF(LTRIM(RTRIM(b.StepName)), N'') IS NULL THEN N'N/A' ELSE b.StepName END,
        N' (',
        CASE WHEN b.StepId IS NULL THEN N'N/A' ELSE CAST(b.StepId AS NVARCHAR(20)) END,
        N')'
    ),
    /* Auto rolling: ẩn StartedAt/EndedAt trên grid như C# */
    DisplayStartedAt = CASE WHEN b.IsAutoRolling = 1 THEN NULL ELSE b.StartedAt END,
    DisplayEndedAt = CASE WHEN b.IsAutoRolling = 1 THEN NULL ELSE b.EndedAt END,
    DurationText = CASE
        WHEN b.IsAutoRolling = 1 THEN
            CASE WHEN ISNULL(b.TotalTime, 0) > 0
                THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(b.TotalTime, 0) AS INT))
                ELSE N'N/A' END
        WHEN b.StartedAt IS NOT NULL AND b.EndedAt IS NOT NULL THEN
            dbo.fn_Revo_SecondsToHhMmSs(DATEDIFF(SECOND, b.StartedAt, b.EndedAt))
        WHEN b.StartedAt IS NOT NULL AND b.EndedAt IS NULL THEN N'Đang chạy...'
        ELSE N'N/A'
    END,
    b.IsAutoRolling,
    b.Started,
    Stt = ROW_NUMBER() OVER (
        PARTITION BY ISNULL(sr.GlobalShaftNo, 0)
        ORDER BY b.Started
    )
FROM dbo.vw_RevoReport_Base AS b
LEFT JOIN shaft_rank AS sr ON b.ShaftNum = sr.ShaftNum;
GO
/****** Object:  View [dbo].[vw_RevoReport_Shaft]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RevoReport_Shaft]
AS
WITH base AS (
    SELECT * FROM dbo.vw_RevoReport_Base WHERE ShaftNum IS NOT NULL
),
per_shaft AS (
    SELECT
        b.ShaftNum,
        HasAutoRolling = MAX(b.IsAutoRolling),
        TotalSeconds = SUM(ISNULL(b.TotalTime, 0)),
        StepCount = COUNT_BIG(*),
        MinStarted = MIN(b.Started),
        MinStartedAt = MIN(b.StartedAt),
        MaxEndedAt = MAX(b.EndedAt),
        /* Hàng đầu theo Started — Part, Work, Mandrel, RevoName */
        RevoId = MAX(CASE WHEN rn = 1 THEN b.RevoId END),
        RevoName = MAX(CASE WHEN rn = 1 THEN b.RevoName END),
        Part = MAX(CASE WHEN rn = 1 THEN b.Part END),
        Work = MAX(CASE WHEN rn = 1 THEN b.Work END),
        Mandrel = MAX(CASE WHEN rn = 1 THEN b.Mandrel END)
    FROM (
        SELECT *,
            rn = ROW_NUMBER() OVER (PARTITION BY ShaftNum ORDER BY Started)
        FROM base
    ) AS b
    GROUP BY b.ShaftNum
),
ordered AS (
    SELECT
        p.*,
        OrderKey = CASE
            WHEN p.HasAutoRolling = 1 THEN p.MinStarted
            ELSE COALESCE(p.MinStartedAt, p.MinStarted)
        END
    FROM per_shaft AS p
)
SELECT
    ShaftLabel = CONCAT(N'Shaft ', ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum)),
    o.RevoId,
    o.RevoName,
    [Hour] = DATEADD(HOUR, DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0),
    HourBucket = CONCAT(
        FORMAT(DATEADD(HOUR, DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0), N'HH'), N':00-',
        FORMAT(DATEADD(HOUR, 1 + DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0), N'HH'), N':00'
    ),
    ShaftNo = ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum),
    Stt = ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum),
    o.ShaftNum,
    o.Part,
    o.Work,
    o.Mandrel,
    StartedAt = CASE WHEN o.HasAutoRolling = 1 THEN NULL ELSE o.MinStartedAt END,
    EndedAt = CASE WHEN o.HasAutoRolling = 1 THEN NULL ELSE o.MaxEndedAt END,
    TotalTimeSeconds = o.TotalSeconds,
    TotalTimeText = CASE WHEN o.TotalSeconds > 0 THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(o.TotalSeconds, 0) AS INT)) ELSE N'00:00:00' END,
    o.StepCount,
    o.HasAutoRolling AS IsAutoRollingShaft
FROM ordered AS o;
GO
/****** Object:  View [dbo].[vw_RevoReport_Hour]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_RevoReport_Hour]
AS
WITH g AS (
    SELECT
        b.HourBucket,
        b.IsAutoRolling,
        b.ShaftNum,
        b.TotalTime,
        b.StartedAt,
        b.EndedAt,
        b.Started
    FROM dbo.vw_RevoReport_Base AS b
),
agg AS (
    SELECT
        HourBucket,
        NonAutoCnt = SUM(CASE WHEN IsAutoRolling = 0 THEN 1 ELSE 0 END),
        AutoCnt = SUM(CASE WHEN IsAutoRolling = 1 THEN 1 ELSE 0 END),
        TotalSeconds = SUM(ISNULL(TotalTime, 0)),
        ShaftCount = COUNT(DISTINCT CASE WHEN ShaftNum IS NOT NULL THEN ShaftNum END),
        MinStartedNonAuto = MIN(CASE WHEN IsAutoRolling = 0 THEN StartedAt END),
        MaxEndedNonAuto = MAX(CASE WHEN IsAutoRolling = 0 THEN EndedAt END),
        MinStartedFallback = MIN(Started)
    FROM g
    GROUP BY HourBucket
)
SELECT
    [Hour] = a.HourBucket,
    HourRange = CONCAT(
        FORMAT(a.HourBucket, N'dd/MM/yyyy HH'), N':00-',
        FORMAT(DATEADD(HOUR, 1, a.HourBucket), N'HH'), N':00'
    ),
    a.ShaftCount,
    StartedAt = CASE WHEN a.NonAutoCnt = 0 AND a.AutoCnt > 0 THEN NULL
        ELSE COALESCE(a.MinStartedNonAuto, a.MinStartedFallback) END,
    EndedAt = CASE WHEN a.NonAutoCnt = 0 AND a.AutoCnt > 0 THEN NULL
        ELSE a.MaxEndedNonAuto END,
    TotalTimeSeconds = a.TotalSeconds,
    TotalTimeText = CASE WHEN a.TotalSeconds > 0
        THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(a.TotalSeconds, 0) AS INT))
        ELSE N'00:00:00' END
FROM agg AS a;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RevoReport_Step]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_RevoReport_Step] (
    @FromDate DATETIME2(7),
    @ToDate DATETIME2(7),
    @RevoId INT NULL,
    @ShaftScope NVARCHAR(12) = N'total'
)
RETURNS TABLE
AS
RETURN
(
    WITH filtered AS (
        SELECT b.*
        FROM dbo.vw_RevoReport_Base AS b
        WHERE b.Started >= @FromDate
          AND b.Started < @ToDate
          AND (@RevoId IS NULL OR b.RevoId = @RevoId)
    ),
    shaft_finish AS (
        SELECT f.ShaftNum
        FROM filtered AS f
        WHERE f.ShaftNum IS NOT NULL
        GROUP BY f.ShaftNum
        HAVING COUNT_BIG(*) > 0
           AND COUNT_BIG(*) = COUNT_BIG(CASE WHEN ISNULL(f.TotalTime, 0) > 0 THEN 1 END)
    ),
    shaft_first AS (
        SELECT f.ShaftNum, MIN(f.Started) AS MinStarted
        FROM filtered AS f
        WHERE f.ShaftNum IS NOT NULL
        GROUP BY f.ShaftNum
    ),
    shaft_rank AS (
        SELECT
            ShaftNum,
            GlobalShaftNo = ROW_NUMBER() OVER (ORDER BY MinStarted)
        FROM shaft_first
    )
    SELECT
        b.Id,
        b.RevoId,
        b.RevoName,
        b.HourBucket AS [Hour],
        HourBucketDisplay = CONCAT(
            FORMAT(b.HourBucket, N'HH'), N':00-',
            FORMAT(DATEADD(HOUR, 1, b.HourBucket), N'HH'), N':00'
        ),
        ShaftNo = ISNULL(sr.GlobalShaftNo, 0),
        ShaftKey = CASE
            WHEN ISNULL(sr.GlobalShaftNo, 0) > 0 THEN CONCAT(N'Shaft ', sr.GlobalShaftNo)
            ELSE N'(Không xác định)'
        END,
        b.ShaftNum,
        b.Part,
        b.Work,
        b.Rev,
        b.Mandrel,
        StepDisplay = CONCAT(
            CASE WHEN NULLIF(LTRIM(RTRIM(b.StepName)), N'') IS NULL THEN N'N/A' ELSE b.StepName END,
            N' (',
            CASE WHEN b.StepId IS NULL THEN N'N/A' ELSE CAST(b.StepId AS NVARCHAR(20)) END,
            N')'
        ),
        DisplayStartedAt = CASE WHEN b.IsAutoRolling = 1 THEN NULL ELSE b.StartedAt END,
        DisplayEndedAt = CASE WHEN b.IsAutoRolling = 1 THEN NULL ELSE b.EndedAt END,
        DurationText = CASE
            WHEN b.IsAutoRolling = 1 THEN
                CASE WHEN ISNULL(b.TotalTime, 0) > 0
                    THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(b.TotalTime, 0) AS INT))
                    ELSE N'N/A' END
            WHEN b.StartedAt IS NOT NULL AND b.EndedAt IS NOT NULL THEN
                dbo.fn_Revo_SecondsToHhMmSs(DATEDIFF(SECOND, b.StartedAt, b.EndedAt))
            WHEN b.StartedAt IS NOT NULL AND b.EndedAt IS NULL THEN N'Đang chạy...'
            ELSE N'N/A'
        END,
        b.IsAutoRolling,
        b.Started,
        Stt = ROW_NUMBER() OVER (
            PARTITION BY ISNULL(sr.GlobalShaftNo, 0)
            ORDER BY b.Started
        ),
        IsShaftFinished = CAST(CASE WHEN b.ShaftNum IS NULL THEN NULL WHEN sf.ShaftNum IS NOT NULL THEN 1 ELSE 0 END AS BIT),
        HighlightIncomplete = CAST(CASE
            WHEN @ShaftScope = N'total' AND b.ShaftNum IS NOT NULL AND sf.ShaftNum IS NULL THEN 1 ELSE 0 END AS BIT)
    FROM filtered AS b
    LEFT JOIN shaft_rank AS sr ON b.ShaftNum = sr.ShaftNum
    LEFT JOIN shaft_finish AS sf ON b.ShaftNum = sf.ShaftNum
    WHERE @ShaftScope <> N'finished' OR b.ShaftNum IS NULL OR sf.ShaftNum IS NOT NULL
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RevoReport_Shaft]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_RevoReport_Shaft] (
    @FromDate DATETIME2(7),
    @ToDate DATETIME2(7),
    @RevoId INT NULL,
    @ShaftScope NVARCHAR(12) = N'total'
)
RETURNS TABLE
AS
RETURN
(
    WITH base AS (
        SELECT b.*
        FROM dbo.vw_RevoReport_Base AS b
        WHERE b.Started >= @FromDate
          AND b.Started < @ToDate
          AND (@RevoId IS NULL OR b.RevoId = @RevoId)
          AND b.ShaftNum IS NOT NULL
    ),
    per_shaft AS (
        SELECT
            b.ShaftNum,
            HasAutoRolling = MAX(b.IsAutoRolling),
            TotalSeconds = SUM(ISNULL(b.TotalTime, 0)),
            StepCount = COUNT_BIG(*),
            MinStarted = MIN(b.Started),
            MinStartedAt = MIN(b.StartedAt),
            MaxEndedAt = MAX(b.EndedAt),
            RevoId = MAX(CASE WHEN rn = 1 THEN b.RevoId END),
            RevoName = MAX(CASE WHEN rn = 1 THEN b.RevoName END),
            Part = MAX(CASE WHEN rn = 1 THEN b.Part END),
            Work = MAX(CASE WHEN rn = 1 THEN b.Work END),
            Mandrel = MAX(CASE WHEN rn = 1 THEN b.Mandrel END),
            IsShaftFinished = CAST(CASE
                WHEN COUNT_BIG(*) = COUNT_BIG(CASE WHEN ISNULL(b.TotalTime, 0) > 0 THEN 1 END) AND COUNT_BIG(*) > 0 THEN 1
                ELSE 0 END AS BIT)
        FROM (
            SELECT *,
                rn = ROW_NUMBER() OVER (PARTITION BY ShaftNum ORDER BY Started)
            FROM base
        ) AS b
        GROUP BY b.ShaftNum
    ),
    ordered AS (
        SELECT
            p.*,
            OrderKey = CASE
                WHEN p.HasAutoRolling = 1 THEN p.MinStarted
                ELSE COALESCE(p.MinStartedAt, p.MinStarted)
            END
        FROM per_shaft AS p
    )
    SELECT
        ShaftLabel = CONCAT(N'Shaft ', ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum)),
        o.RevoId,
        o.RevoName,
        [Hour] = DATEADD(HOUR, DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0),
        HourBucket = CONCAT(
            FORMAT(DATEADD(HOUR, DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0), N'HH'), N':00-',
            FORMAT(DATEADD(HOUR, 1 + DATEDIFF(HOUR, 0, COALESCE(o.MinStartedAt, o.MinStarted)), 0), N'HH'), N':00'
        ),
        ShaftNo = ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum),
        Stt = ROW_NUMBER() OVER (ORDER BY o.OrderKey, o.ShaftNum),
        o.ShaftNum,
        o.Part,
        o.Work,
        o.Mandrel,
        StartedAt = CASE WHEN o.HasAutoRolling = 1 THEN NULL ELSE o.MinStartedAt END,
        EndedAt = CASE WHEN o.HasAutoRolling = 1 THEN NULL ELSE o.MaxEndedAt END,
        TotalTimeSeconds = o.TotalSeconds,
        TotalTimeText = CASE WHEN o.TotalSeconds > 0
            THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(o.TotalSeconds, 0) AS INT))
            ELSE N'00:00:00' END,
        o.StepCount,
        o.HasAutoRolling AS IsAutoRollingShaft,
        o.IsShaftFinished,
        HighlightIncomplete = CAST(CASE WHEN @ShaftScope = N'total' AND o.IsShaftFinished = 0 THEN 1 ELSE 0 END AS BIT)
    FROM ordered AS o
    WHERE @ShaftScope <> N'finished' OR o.IsShaftFinished = 1
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RevoReport_Hour]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_RevoReport_Hour] (
    @FromDate DATETIME2(7),
    @ToDate DATETIME2(7),
    @RevoId INT NULL,
    @ShaftScope NVARCHAR(12) = N'total'
)
RETURNS TABLE
AS
RETURN
(
    WITH filtered AS (
        SELECT b.*
        FROM dbo.vw_RevoReport_Base AS b
        WHERE b.Started >= @FromDate
          AND b.Started < @ToDate
          AND (@RevoId IS NULL OR b.RevoId = @RevoId)
    ),
    shaft_finish AS (
        SELECT f.ShaftNum
        FROM filtered AS f
        WHERE f.ShaftNum IS NOT NULL
        GROUP BY f.ShaftNum
        HAVING COUNT_BIG(*) > 0
           AND COUNT_BIG(*) = COUNT_BIG(CASE WHEN ISNULL(f.TotalTime, 0) > 0 THEN 1 END)
    ),
    /* Hoàn thành shaft: chỉ gán 1 lần vào giờ bắt đầu (MIN(Started)), tránh đếm trùng khi các step
       nằm ở hai khung giờ (StartedAt/EndedAt kéo dài qua giờ). Không tách logic auto rolling riêng. */
    shaft_first_hour AS (
        SELECT
            f.ShaftNum,
            FirstHourBucket = DATEADD(HOUR, DATEDIFF(HOUR, 0, MIN(f.Started)), 0)
        FROM filtered AS f
        WHERE f.ShaftNum IS NOT NULL
        GROUP BY f.ShaftNum
    ),
    g AS (
        SELECT
            b.HourBucket,
            b.IsAutoRolling,
            b.ShaftNum,
            b.TotalTime,
            b.StartedAt,
            b.EndedAt,
            b.Started
        FROM filtered AS b
        LEFT JOIN shaft_finish AS sf ON b.ShaftNum = sf.ShaftNum
        WHERE @ShaftScope <> N'finished' OR b.ShaftNum IS NULL OR sf.ShaftNum IS NOT NULL
    ),
    hour_shaft_finished AS (
        SELECT s.FirstHourBucket AS HourBucket, s.ShaftNum
        FROM shaft_first_hour AS s
        INNER JOIN shaft_finish AS sf ON sf.ShaftNum = s.ShaftNum
    ),
    agg AS (
        SELECT
            HourBucket,
            NonAutoCnt = SUM(CASE WHEN IsAutoRolling = 0 THEN 1 ELSE 0 END),
            AutoCnt = SUM(CASE WHEN IsAutoRolling = 1 THEN 1 ELSE 0 END),
            TotalSeconds = SUM(ISNULL(TotalTime, 0)),
            ShaftCount = COUNT(DISTINCT CASE WHEN ShaftNum IS NOT NULL THEN ShaftNum END),
            MinStartedNonAuto = MIN(CASE WHEN IsAutoRolling = 0 THEN StartedAt END),
            MaxEndedNonAuto = MAX(CASE WHEN IsAutoRolling = 0 THEN EndedAt END),
            MinStartedFallback = MIN(Started)
        FROM g
        GROUP BY HourBucket
    )
    SELECT
        [Hour] = a.HourBucket,
        HourRange = CONCAT(
            FORMAT(a.HourBucket, N'dd/MM/yyyy HH'), N':00-',
            FORMAT(DATEADD(HOUR, 1, a.HourBucket), N'HH'), N':00'
        ),
        a.ShaftCount,
        ShaftCountFinishedInHour = ISNULL((
            SELECT COUNT_BIG(DISTINCT h.ShaftNum) FROM hour_shaft_finished h WHERE h.HourBucket = a.HourBucket), 0),
        IncompleteShaftCountInHour = ISNULL((
            SELECT COUNT_BIG(DISTINCT x.ShaftNum)
            FROM g x
            WHERE x.HourBucket = a.HourBucket
              AND x.ShaftNum IS NOT NULL
              AND NOT EXISTS (SELECT 1 FROM shaft_finish sf WHERE sf.ShaftNum = x.ShaftNum)
        ), 0),
        HighlightIncomplete = CAST(CASE
            WHEN @ShaftScope = N'total' AND EXISTS (
                SELECT 1
                FROM g x
                WHERE x.HourBucket = a.HourBucket
                  AND x.ShaftNum IS NOT NULL
                  AND NOT EXISTS (SELECT 1 FROM shaft_finish sf WHERE sf.ShaftNum = x.ShaftNum)
            ) THEN 1 ELSE 0 END AS BIT),
        StartedAt = CASE WHEN a.NonAutoCnt = 0 AND a.AutoCnt > 0 THEN NULL
            ELSE COALESCE(a.MinStartedNonAuto, a.MinStartedFallback) END,
        EndedAt = CASE WHEN a.NonAutoCnt = 0 AND a.AutoCnt > 0 THEN NULL
            ELSE a.MaxEndedNonAuto END,
        TotalTimeSeconds = a.TotalSeconds,
        TotalTimeText = CASE WHEN a.TotalSeconds > 0
            THEN dbo.fn_Revo_SecondsToHhMmSs(CAST(ROUND(a.TotalSeconds, 0) AS INT))
            ELSE N'00:00:00' END
    FROM agg AS a
);
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT01]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT01](
	[Id] [uniqueidentifier] NOT NULL,
	[C000] [nvarchar](max) NULL,
	[C001] [nvarchar](max) NULL,
	[Actived] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_FT01] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT02]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT02](
	[Id] [uniqueidentifier] NOT NULL,
	[C000] [nvarchar](max) NULL,
	[Actived] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedMachine] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT02] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT03]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT03](
	[Id] [uniqueidentifier] NOT NULL,
	[OvenId] [int] NOT NULL,
	[OvenName] [nvarchar](max) NULL,
	[Temperature] [float] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Actived] [int] NOT NULL,
	[CreatedMachine] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT03] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT04]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT04](
	[Id] [uniqueidentifier] NOT NULL,
	[OvenId] [int] NOT NULL,
	[OvenName] [nvarchar](max) NULL,
	[Temperature] [float] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[Actived] [int] NOT NULL,
	[CreatedMachine] [nvarchar](max) NULL,
	[ZIndex] [uniqueidentifier] NOT NULL,
	[Hours] [int] NOT NULL,
	[Minutes] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[ProfileName] [nvarchar](max) NULL,
	[Seconds] [int] NOT NULL,
	[Setpoint] [float] NOT NULL,
	[StepId] [int] NOT NULL,
	[StepName] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT04] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT05]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT05](
	[Id] [uniqueidentifier] NOT NULL,
	[OvenId] [int] NOT NULL,
	[OvenName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ACK] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ACKDate] [datetime2](7) NULL,
	[Actived] [int] NOT NULL,
	[Hours] [int] NOT NULL,
	[Minutes] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[ProfileName] [nvarchar](max) NULL,
	[Seconds] [int] NOT NULL,
	[Setpoint] [float] NOT NULL,
	[StepId] [int] NOT NULL,
	[StepName] [nvarchar](max) NULL,
	[Temperature] [float] NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT05] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT06]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT06](
	[Id] [uniqueidentifier] NOT NULL,
	[C000] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT06] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT07]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT07](
	[Id] [uniqueidentifier] NOT NULL,
	[C000] [nvarchar](max) NULL,
	[Actived] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FT07] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FT08]    Script Date: 14/04/2026 2:03:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FT08](
	[Id] [uniqueidentifier] NOT NULL,
	[C000] [int] NULL,
	[C001] [nvarchar](max) NULL,
 CONSTRAINT [PK_FT08] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240320072924_initial', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240320073601_updateDatatypeFT04', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240321143105_updatedatatype', N'7.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'27c6f8f1-8dff-4325-8fd9-b356be794ebc', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a466ab93-dba8-4c94-908e-6778a4c3fa93', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd8f56b54-f258-4748-b997-6f6ab7ef29ab', N'Operator', N'OPERATOR', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0b72dd4a-ea25-4531-8530-8699c83248ce', N'27c6f8f1-8dff-4325-8fd9-b356be794ebc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0b72dd4a-ea25-4531-8530-8699c83248ce', N'a466ab93-dba8-4c94-908e-6778a4c3fa93')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'237db244-6aa7-4c10-bb60-009986320abf', N'd8f56b54-f258-4748-b997-6f6ab7ef29ab')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'0b72dd4a-ea25-4531-8530-8699c83248ce', N'admin', N'ADMIN', N'admin@example.com', N'ADMIN@EXAMPLE.COM', 0, N'AQAAAAIAAYagAAAAEPV+4P/wVplKO/GV8Xl4e/RgBBkK+/TU5bq5P6dHE5vwhByGEWfIzp+XfxNlas1CMw==', N'UEV4FBIAGGUYRT7FSNFB6WKHSTWE3FFJ', N'9a090dcf-c4d7-4529-9ead-96132c7a1f4f', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'237db244-6aa7-4c10-bb60-009986320abf', N'operator', N'OPERATOR', N'operator@gmail.com', N'OPERATOR@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEHf5o5Qd5+JpasADI0wzuPiKKAiUD/16/NaXkNwJ1vSMlc2kJ42DxsKub9Wnee5/xw==', N'DRLIF2Z7R3DJ2GHMBQCRZD26BKXNZX7N', N'4fa61082-dfd8-4d34-85da-bb108429bbe8', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'423aaa7c-274d-41fd-abb7-5c73e3b2d159', N'string', N'STRING', N'user@example.com', N'USER@EXAMPLE.COM', 0, N'AQAAAAIAAYagAAAAEI6lb7yTRz0dr+fW5AwrUguvTXo84Q0mixLQpez/s3n7UHdVwO6gW24yowtVTuOtkQ==', N'QIJVPHW2BVRBXVTUEZORVYVEX7LT6CYA', N'ac232d1d-5fee-4bfd-9ecf-0610e54445d2', NULL, 0, 0, NULL, 1, 0)
GO
INSERT [dbo].[FT09] ([Id], [CreatedAt], [CreatedMachine], [RevoId], [RevoName], [Work], [Part], [Rev], [ColorCode], [Mandrel], [MandrelStart], [StepId], [StepName], [StartedAt], [EndedAt], [ShaftNum], [TotalTime]) VALUES (N'f87094a4-0897-42b3-8fa2-015fe9a3a476', CAST(N'2026-04-11T06:04:07.3998710' AS DateTime2), N'DESKTOP-FEIGKEV', 1, N'Revo 1', N'', N'5AWA60A', N'05', N'White|Red|Green|White|none', N'M219', N'4.5', 6, N'REVO-STEP-6', CAST(N'2026-04-11T06:04:35.0102743' AS DateTime2), CAST(N'2026-04-11T06:04:36.0635697' AS DateTime2), N'6a3866c4-5821-4f03-b54a-eb3007c330f5', 1.05)
INSERT [dbo].[FT09] ([Id], [CreatedAt], [CreatedMachine], [RevoId], [RevoName], [Work], [Part], [Rev], [ColorCode], [Mandrel], [MandrelStart], [StepId], [StepName], [StartedAt], [EndedAt], [ShaftNum], [TotalTime]) VALUES (N'b4661e5d-7c77-416a-87f6-031fba4541c8', CAST(N'2026-04-10T09:08:05.4593600' AS DateTime2), N'DESKTOP-FEIGKEV', 1, N'Revo 1', N'', N'5AWA60A', N'05', N'White|Red|Green|White|none', N'M219', N'4.5', 7, N'REVO-STEP-7', CAST(N'2026-04-10T09:08:52.0717251' AS DateTime2), CAST(N'2026-04-10T09:08:53.0979142' AS DateTime2), N'00602995-2426-4138-9a51-a0a6d22cec0e', 1.03)
INSERT [dbo].[FT09] ([Id], [CreatedAt], [CreatedMachine], [RevoId], [RevoName], [Work], [Part], [Rev], [ColorCode], [Mandrel], [MandrelStart], [StepId], [StepName], [StartedAt], [EndedAt], [ShaftNum], [TotalTime]) VALUES (N'19022c74-8fbb-4c5c-a21e-04ab7a9eadbd', CAST(N'2026-04-09T20:58:09.7989799' AS DateTime2), N'DESKTOP-FEIGKEV', 2, N'Revo 2', N'', N'5AWA60A', N'05', N'White|Red|Green|White|none', N'M219', N'4.5', 7, N'REVO-STEP-7', CAST(N'2026-04-09T20:58:29.3727497' AS DateTime2), CAST(N'2026-04-09T20:58:30.3741225' AS DateTime2), N'73256401-dcfc-4808-bf28-8568422cd24b', 1)
GO
/****** Object:  Index [NonClusteredIndex-20240419-131847]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240419-131847] ON [dbo].[FT03]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240419-132113]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240419-132113] ON [dbo].[FT04]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240808-184715]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240808-184715] ON [dbo].[FT04]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240808-212906]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240808-212906] ON [dbo].[FT04]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240419-132130]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240419-132130] ON [dbo].[FT05]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FT09_CreatedAt_ShaftNum]    Script Date: 14/04/2026 2:03:11 CH ******/
CREATE NONCLUSTERED INDEX [IX_FT09_CreatedAt_ShaftNum] ON [dbo].[FT09]
(
	[CreatedAt] ASC,
	[ShaftNum] ASC
)
INCLUDE([StartedAt],[EndedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FT01] ADD  CONSTRAINT [DF_FT01_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FT01] ADD  CONSTRAINT [DF_FT01_Actived]  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[FT01] ADD  CONSTRAINT [DF_FT01_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FT02] ADD  CONSTRAINT [DF_FT02_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FT02] ADD  CONSTRAINT [DF__FT02__Actived__04E4BC85]  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[FT02] ADD  CONSTRAINT [DF_FT02_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FT02] ADD  CONSTRAINT [DF_FT02_CreatedMachine]  DEFAULT (host_name()) FOR [CreatedMachine]
GO
ALTER TABLE [dbo].[FT03] ADD  CONSTRAINT [DF_FT03_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FT03] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Temperature]
GO
ALTER TABLE [dbo].[FT03] ADD  CONSTRAINT [DF_FT03_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FT03] ADD  CONSTRAINT [DF_FT03_IsActive]  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[FT03] ADD  CONSTRAINT [DF_FT03_CreatedMachine]  DEFAULT (host_name()) FOR [CreatedMachine]
GO
ALTER TABLE [dbo].[FT04] ADD  CONSTRAINT [DF_FT04_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FT04] ADD  CONSTRAINT [DF_FT04_Actived]  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[FT04] ADD  CONSTRAINT [DF_FT04_CreatedMachine]  DEFAULT (host_name()) FOR [CreatedMachine]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ZIndex]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [Minutes]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [Seconds]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Setpoint]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [StepId]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FT04] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[FT05] ADD  CONSTRAINT [DF_FT05_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FT05] ADD  CONSTRAINT [DF_FT05_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FT05] ADD  CONSTRAINT [DF_FT05_Actived]  DEFAULT ((1)) FOR [Actived]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0)) FOR [Minutes]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0)) FOR [Seconds]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Setpoint]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0)) FOR [StepId]
GO
ALTER TABLE [dbo].[FT05] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Temperature]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_FT01GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FT01GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT01
	WHERE Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT01Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_FT01Insert]
	-- Add the parameters for the stored procedure here
	@c000 nvarchar(max)
	,@c001 nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	INSERT INTO [dbo].[FT01]
           (
           [C000]
           ,[C001])
     VALUES
           (@c000,@c001)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT02GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT02GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT02
	WHERE Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT02Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT02Insert]
	-- Add the parameters for the stored procedure here
	@c000 nvarchar(max)
	,@createdDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    INSERT INTO [dbo].[FT02]
           ([C000]
		   ,[CreatedDate]
           )
     VALUES
           (@c000
		   ,@createdDate)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT03GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT03GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT03
	WHERE Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT03Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT03Insert]
	-- Add the parameters for the stored procedure here
	@ovenId int
	,@ovenName varchar(500)
	,@temperature float
	,@details nvarchar(max) =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    INSERT INTO [dbo].[FT03]
           (
           [OvenId]
           ,[OvenName]
           ,[Temperature]
		   ,[Details])
     VALUES
           (@ovenId
		   ,@ovenName
		   ,@temperature
		   ,@details)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT04GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT04GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT04
	WHERE Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT04Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT04Insert]
	-- Add the parameters for the stored procedure here
	@ovenId int
	,@ovenName varchar(500)
	,@temperature float
	,@startTime datetime
	,@endTime datetime = null
	,@zIndex uniqueidentifier
	,@hours int
	,@minutes int
	,@seconds int
	,@profileId int
	,@profileName nvarchar(500)
	,@stepId int
	,@stepName nvarchar(100)
	,@setPoint float
	,@status int
	,@createdDate datetime = null
	,@details nvarchar(max) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   INSERT INTO [dbo].[FT04]
           (
           [OvenId]
           ,[OvenName]
           ,[Temperature]
           ,[StartTime]
           ,[EndTime]
           ,[ZIndex]
           ,[Hours]
           ,[Minutes]
           ,[ProfileId]
           ,[ProfileName]
           ,[Seconds]
           ,[Setpoint]
           ,[StepId]
           ,[StepName]
		   ,[Status]
		   ,[CreatedDate]
		   ,[Details])
     VALUES
           (@ovenId
		   ,@ovenName
		   ,@temperature,@startTime
		   ,@endTime
		   ,@zIndex
		   ,@hours
		   ,@minutes
		   ,@profileId
		   ,@profileName
		   ,@seconds
		   ,@setPoint
		   ,@stepId
		   ,@stepName
		   ,@status
		   ,@createdDate
		   ,@details)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT05GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT05GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT05
	WHERE Actived = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT05Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FT05Insert]
	-- Add the parameters for the stored procedure here
	@ovenId int
	,@ovenName varchar(500)
	,@description varchar(max)
	,@ack int = 0
	,@ackDate datetime = null
	,@details nvarchar(max) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

   INSERT INTO [dbo].[FT05]
           (
           [OvenId]
           ,[OvenName]
           ,[Description]
           ,[ACK]
           ,[ACKDate]
		   ,[Details])
     VALUES
           (@ovenId
		   ,@ovenName
		   ,@description
		   ,@ack
		   ,@ackDate
		   ,@details
		   )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT06GetAll]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_FT06GetAll]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM FT06
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT06Insert]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_FT06Insert]
	-- Add the parameters for the stored procedure here
	@c000 nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO FT06 (Id,C000) VALUES (NEWID(), @c000)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FT06Update]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_FT06Update]
	-- Add the parameters for the stored procedure here
	@id Uniqueidentifier
	,@c000 nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE FT06 SET C000 = @c000 WHERE Id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalShaft]    Script Date: 14/04/2026 2:03:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalShaft]
    @RevoId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @maxCreatedAt DATETIME;
    DECLARE @currentHour DATETIME;
    DECLARE @nextHour DATETIME;
    DECLARE @lastHour DATETIME;

    -- Lấy mốc thời gian mới nhất của TOÀN HỆ THỐNG
    SELECT @maxCreatedAt = MAX(CreatedAt) FROM FT09;

    IF @maxCreatedAt IS NULL RETURN;

    -- Thiết lập khung giờ cố định
    SET @currentHour = DATEADD(HOUR, DATEDIFF(HOUR, 0, @maxCreatedAt), 0);
    SET @nextHour = DATEADD(HOUR, 1, @currentHour);
    SET @lastHour = DATEADD(HOUR, -1, @currentHour);

    -- Các CTE giữ nguyên logic lọc @RevoId
    WITH FinishedCurrent AS (
        SELECT RevoId, ShaftNum
        FROM FT09
        WHERE CreatedAt >= @currentHour AND CreatedAt < @nextHour
          AND ShaftNum IS NOT NULL
          AND (@RevoId IS NULL OR RevoId = @RevoId)
        GROUP BY RevoId, ShaftNum
        HAVING COUNT(*) = COUNT(CASE WHEN TotalTime > 0 THEN 1 END)
    ),
    FinishedLast AS (
        SELECT RevoId, ShaftNum
        FROM FT09
        WHERE CreatedAt >= @lastHour AND CreatedAt < @currentHour
          AND ShaftNum IS NOT NULL
          AND (@RevoId IS NULL OR RevoId = @RevoId)
        GROUP BY RevoId, ShaftNum
        HAVING COUNT(*) = COUNT(CASE WHEN TotalTime > 0 THEN 1 END)
    )
    -- Query chính...
    SELECT 
        t.RevoId,
        COUNT(DISTINCT CASE WHEN t.CreatedAt >= @currentHour AND t.CreatedAt < @nextHour THEN t.ShaftNum END) AS TotalShaftCurrentHour,
        COUNT(DISTINCT fc.ShaftNum) AS TotalShaftFinishCurrentHour,
        COUNT(DISTINCT CASE WHEN t.CreatedAt >= @lastHour AND t.CreatedAt < @currentHour THEN t.ShaftNum END) AS TotalShaftLastHour,
        COUNT(DISTINCT fl.ShaftNum) AS TotalShaftFinshLastHour
    FROM FT09 t
    LEFT JOIN FinishedCurrent fc ON t.RevoId = fc.RevoId AND t.ShaftNum = fc.ShaftNum
    LEFT JOIN FinishedLast fl ON t.RevoId = fl.RevoId AND t.ShaftNum = fl.ShaftNum
    WHERE t.ShaftNum IS NOT NULL
      AND (@RevoId IS NULL OR t.RevoId = @RevoId)
      -- Quan trọng: Chỉ lấy dữ liệu trong 2 khung giờ đang xét để tránh quét toàn bộ bảng gây sai số
      AND t.CreatedAt >= @lastHour AND t.CreatedAt < @nextHour 
    GROUP BY t.RevoId;
END
GO
USE [master]
GO
